<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2"/>
		<authentication mode="Forms"/>
		<authorization>
			<allow users ="*" />
		</authorization>
	</system.web>
	<system.webServer>
		<handlers>
			<add name=".svc" verb="*" path="*.svc"
		   type="System.ServiceModel.Activation.ServiceHttpHandlerFactory, 
System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, 
PublicKeyToken=31bf3856ad364e35" />
		</handlers>
		<modules runAllManagedModulesForAllRequests="true"/>
		<!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
		<directoryBrowse enabled="true"/>
	</system.webServer>
</configuration>
